/*
 * CCDP II HTML
 * 2014-11-28 Edited.
 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
    height: 100%;
    font-family: ".PingFang-SC-Medium", "微软雅黑", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;

}

* {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background: transparent;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

mark {
    color: #000;
    background: #ff0
}

small {
    font-size: 80%
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40rem
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 0;
    border-top: 1px dashed #C5C5C5;
}

em, i {
    font-style: normal;
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    width: 2.5rem;
    /*margin: 10*/
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2rem;
    border: 1px solid #c0c0c0
}

legend {
    padding: 0;
    border: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td, th {
    padding: 0
}

ul, li, dl, dd, dt {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*reset*/
.hide {
    display: none;
}

.full {
    width: 100% !important;
    border: 0 !important;
    height: 100% !important;
}

.full-width {
    width: 100% !important;
}

/*common*/
body.log {
    overflow: hidden;
    background: #EFEFEF;
}

.title {
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 4.5rem;
    overflow: hidden;
    border-top: 1px solid #416A96;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#295788+0,1b3a5b+100 */
    background: #295788; /* Old browsers */
    background: -moz-linear-gradient(top, #295788 0%, #1b3a5b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #295788 0%, #1b3a5b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #295788 0%, #1b3a5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#295788', endColorstr='#1b3a5b', GradientType=0); /* IE6-9 */
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.title > h1 {
    line-height: 4.5rem;
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.main-log {
    position: fixed;
    top: 4.5rem;
    /*padding-bottom: 20rem;*/
    bottom: 6.0rem;
    z-index: 1;
    width: 100%;
    overflow: auto;
}

.bottom {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 0;
    z-index: 20;
    height: 5.0rem;
    overflow: hidden;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.cur-text {
    margin: 0 1.0rem;
    overflow: hidden;
    height: 100%;
    display: table;
}

.status, .jinDu-text {
    overflow: hidden;
    color: #999;
    line-height: 2.6rem;
    font-size: 1.7rem;
}

.status {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: table-cell;
    vertical-align: middle;
}

/*.jinDu-text {
    width: 40%;
    float: right;
    text-align: right;
}*/

/*.cur-jinDu {
    width: 100%;
    height: 1.2rem;
    margin-top: .8rem;
}

.jinDu-bg {
    position: relative;
    height: .3rem;
    background-color: #eee;
    border-radius: px;
    border: px #eee solid;
    margin: 0 1.5rem;
}*/

.jinDu-bar {
    position: absolute;
    height: .3rem;
    top: 0;
    background-color: #6baaff;
    border-radius: 2px;
}

/*for box*/
.over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 98;
}

.box {
    position: fixed;
    z-index: 991;
    background-color: #fff;
    box-sizing: content-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in, width 0.3s ease;
    -webkit-transition: opacity 0.3s ease-in, width 0.3s ease;
    -o-transition: opacity 0.3s ease-in, width 0.3s ease;
    -moz-transition: opacity 0.3s ease-in, width 0.3s ease;
}

.tip-box {
    width: 72%;
}

.tip-box-wide {
    width: 90%;
}

.box-title {
    font-size: 2.0rem;
    /* line-height: 100%; */
    border-bottom: 1px #477cb3 solid;
    color: #588CD2;
    /* text-indent: 15rem; */
    /* margin-bottom: 10rem; */
    padding: 1.0rem 1.5rem;
}

.box-p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 1.0rem 3%;
    word-wrap: break-word;
    overflow: hidden
}

.box-tip {
    font-size: 1.6rem;
    color: #588CD2;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    text-indent: 1.5rem;
}

.box-warn {
    font-size: 1.6rem;
    color: #FF0000;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    text-indent: 1.5rem;
}

.box-btn-vertical {
    width: 100%;
    margin-bottom: -1px;
    border: none;
    border-bottom: 1px #E5E5E7 solid;
    border-top: 1px #E5E5E7 solid;
    background-color: #fff;
    /*padding: 1.5rem;*/
    color: #333;
    text-align: left;
    font-size: 1.6rem;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;
}

/*.box-btn:hover{ background-color:#eee;}*/
.box-btn:active, .box-btn:visited, .box-btn:focus {
    background: #fff;
}

.load-box {
    background: none;
    box-shadow: none;
}

/*for box*/
.table-title {
    font-size: 2.4rem;
    color: #999;
    display: block;
    height: 6.0rem;
    line-height: 6.0rem;
}

.list-table {
    margin: 0 3%;
    box-sizing: border-box;
}

.click-list tr {
    cursor: pointer;
}

.list-table td, .list-table th {
    border: 1px #fff solid;
    text-align: left;
    padding: .8rem;
    font-size: 1.4rem;
}

.list-table th {
    background-color: #86B9FF;
    white-space: nowrap;
    color: #fff;
    font-weight: 400;

}

.list-table th.th-center {
    text-align: center;
}

.list-table td {
    color: #333;
    word-break: break-all;
}

.list-table td.no-break {
    word-break: keep-all;
    white-space: nowrap;
}

.list-table td.t-center {
    text-align: center;
}

.list-table td.t-center {
    text-align: center;
}

.list-table td.t-center-cbx {
    text-align: center;
    width: 1.0rem;
}

.list-table td.t-right {
    text-align: right;
}

.list-table tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

.btn.btn-disable,
.btn:disabled {
    background-color: #ccc;
}

.list-info {
    margin: 1.0rem 1.5rem 1.0rem 2.0rem;
}

.list-info li {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.instruction {
}

.instruction p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 0 2.0rem;
}

.main-log-btnsEx {
    position: absolute;
    top: 4.5rem;
    padding-bottom: 10.0rem;
    z-index: 1;
    width: 100%;
}

/*
.dropDownNav {
    padding: 2.0rem 0 0 0;
    margin: 0;
    text-align: center;
    resize: none;
    width: 100%;
    height: 100%;
    display: block;
    white-space: normal;
    background: none;
    border: 0;
}

.dropDownIcon {
    position: relative;
    float: left;
    bottom: -.4rem;
    left: .1rem;
    display: block;
    border-top: 1px solid transparent;
    border-left: 1px solid yellow;
}

.dropDownList {
    display: none;
    left: 0;
    max-height: 70%;
    margin: 0 3%;
    position: absolute;
    z-index: 1000;
    background: rgba(24, 24, 24, 0.7);
    width: 94%;
}

.dropDownList ul {
    width: 100%;
    position: absolute;
    top: 3%;
    left: 0;
    height: 94%;
    overflow-y: scroll;
}

.dropDownList li {
    text-align: center;
    border: 1px solid #FEFEFE;
    color: #333;
    height: 4.0rem;
    line-height: 4.0rem;
    font-size: 1.5rem;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 .5rem;
    text-overflow: ellipsis;
}

.dropDownList li:nth-child(odd), #fileList li:nth-child(even) {
    background: #DFDFDF;
}

.dropDownList li:nth-child(even), #fileList li:nth-child(odd) {
    background: #fff;
}

.dropDownList li:active, #fileList li:active{
    background: #bcbcbc;
}*/

/*.headLoadingRun {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    /!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100&amp;0+0,1+100 *!/
    background: -moz-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(30, 87, 153, 1) 100%); /!* FF3.6+ *!/
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(100%, rgba(30, 87, 153, 1))); /!* Chrome,Safari4+ *!/
    background: -webkit-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(30, 87, 153, 1) 100%); /!* Chrome10+,Safari5.1+ *!/
    background: -o-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(30, 87, 153, 1) 100%); /!* Opera 11.10+ *!/
    background: -ms-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(30, 87, 153, 1) 100%); /!* IE10+ *!/
    background: linear-gradient(to right, rgba(125, 185, 232, 0) 0%, rgba(30, 87, 153, 1) 100%); /!* W3C *!/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#1e5799', GradientType=1); /!* IE6-9 *!/
}*/

/*.headLoadingRun {
    width: 0%;

}*/
#headLoadingRun {
    width: .9rem;
    border-left: 3px solid rgba(255, 255, 255, 0.7);
    height: 140%;
    position: relative;
    top: -20%;
    left: 0;
    box-shadow: -6px 0 9px rgba(255, 255, 255, 0.6);

}

#headLoading {
    border: 0;
    position: absolute;
    display: none;
    /*top: 4.7rem;*/
    box-sizing: border-box;
    overflow: hidden;
    width: auto;
    /* height: 6.8rem;*/
    z-index: 1000;
    background: rgba(22, 57, 140, 0.7);
}

.top-nav-button {
    position: absolute;
    color: #fff;
    width: 15%;
    height: 6.9rem; /*th高度4.5trm,但是上下有1.2的padding值,所以,要完美覆盖th的话,高度就是6.9rem*/
    background: #477CB3;
    border: none;
    padding: 0;
    box-shadow: none;
    margin: 0 auto;
}

.top-nav-button:disabled {
    color: #74AEF5;
}

.nav-directory {
    display: table-cell;
    /*padding: .5rem;*/
    vertical-align: middle;
    width: 4.0rem;
    height: 4.0rem;
    padding: 0;
    box-shadow: none;
    color: #E7F2FF;
    text-decoration: none;
    box-sizing: content-box;
    border-radius: 100%;
    /*text-indent: -.5rem;*/
    border: 2px outset buttonface;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,4096ed+50,5389db+100 */
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6db3f2 0%, #54a3ee 50%, #4096ed 50%, #5389db 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6db3f2 0%, #54a3ee 50%, #4096ed 50%, #5389db 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #6db3f2 0%, #54a3ee 50%, #4096ed 50%, #5389db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#5389db', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.nav-directory:disabled {

    color: #74AEF5;
}

/*
.nav-directory-down {
    border-right: 1px solid #A7CEFF;
    border-bottom: 1px solid #A7CEFF;
    background-color: #3489FF;
    color: #333;
}

.nav-directory-up {
    border-right: 1px solid #3189FF;
    border-bottom: 1px solid #167AFF;
    background-color: #509BFF;
    color: #fff;
}*/

.data-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: #EFEFEF;
    display: none;
}

.groupNav {
    border: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.scroll-table-header {
    background: #FFF;
    width: 100%;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.scroll-table-header .box-title {
    border: none;
}

.scroll-table-body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    z-index: 13;
    background-color: #EFEFEF;
    position: fixed;
    top: 0;
    left: 0;
}

.scroll-table-footer {
    width: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #477CB3;
    z-index: 16;
    overflow: hidden;
    height: 6rem;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);

}

.scroll-table-body, .scroll-table-footer, .scroll-table-header {
    /*-webkit-transform: translateZ(0);*/
    /*-moz-transform: translateZ(0);*/
    /*-ms-transform: translateZ(0);*/
    /*-o-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*will-change: transition;*/
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.data-box table {
    width: 100%;
    margin: 0;
    background: #fff;
    overflow-x:auto; word-wrap:break-word; word-break:break-all;
}

.data-box tr {
    cursor: pointer;
}

.data-box td, .data-box th {
    border: 1px #E1E3E7 solid;
    text-align: center;
    padding: 1.2rem;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.data-box th {
    background-color: #fff;
    white-space: nowrap;
    color: #999;
    font-weight: 400;
    border: 1px #fff solid;
    text-align: center;
    height: 4.5rem;
}

.data-box th.th-center {
    text-align: center;
}

.data-box td {
    color: #333;
    word-break: break-all;
    text-align: left;
}

.data-box td.no-break {
    word-break: keep-all;
    white-space: nowrap;
}

.data-box td.t-center {
    text-align: center;
}

.data-box td.t-center-cbx {
    text-align: center;
    width: 1.0rem;
}

.data-box td.t-right {
    text-align: right;
}

.data-box tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

.data-box h1 {
    color: #999;
    display: block;
    height: auto;
    line-height: 200%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kickout {
    position: absolute;
    left: -999.9rem;
}

/*for rotate img*/
@-webkit-keyframes rotate {

    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }

}

@-moz-keyframes rotate {

    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }

}

@-ms-keyframes rotate {

    from {
        -ms-transform: rotate(0deg)
    }

    to {
        -ms-transform: rotate(360deg)
    }

}

@-o-keyframes rotate {

    from {
        -o-transform: rotate(0deg)
    }

    to {
        -o-transform: rotate(360deg)
    }

}

#MessageBox {
    font-size: 1.6rem;
    width: 100%;
    word-break: break-all;
    color: #333;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    padding-top: 14rem;
    z-index: 1;
}

/*
#bodyLoading {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 998;
}

#bodyLoadingCover {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 996;
    background: rgba(0, 0, 0, .1);
}

#bodyLoadingIconBox {
    position: absolute;
    display: table;
    border-radius: 5px;
    background: rgba(0, 0, 0, .6);
    width: 52%;
    height: 22%;
    z-index: 997;
}

#bodyLoadingIconLayout {
    z-index: 101;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    padding:1.6rem;
}

#loading-img {
    /!*animation: .75s rotate 0s normal none infinite ;*!/
    /!*-webkit-animation: .75s rotate 0s normal none infinite ;*!/
    position: relative;
    margin: 1.0rem auto;
    display: block;
    width: 5.0rem;
}*/

.checkbox, .checkbox-new, .radioBox, .radioBox-new {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.checkbox-new i, .radioBox-new i {
    display: block;
    background: url(../images/common/right_arrow.png) center center no-repeat #477CB3;
    width: 100%;
    height: 100%;
}

.radioBox, .radioBox-new, .radioBox-new i {
    border-radius: 100%;
}

.checkbox input, .checkbox-new input, .radioBox-new input, .radioBox input {
    display: none;
}

.data-search {
    display: block;
    width: 94%;
    padding: 0;
    margin: 1.3rem 3% .3rem 3%;
    color: #909090;
}

.data-search > input {
    padding: .3rem .7rem;
    width: 98%;
    border: none;
    border-bottom: 1px dotted #909090;
    margin: 0 1%;
}

select {
    padding: .5rem 0;
}

option {
    font-size: 1.8rem;
}

.bottom-bar-button-box {
    /*padding: 7rem 0;*/
    width: 100%;
    height: 100%;
    /*background-color: #38699c;*/
    z-index: 16;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.bottom-bar-button-box :last-child {
    border-right: none;
    z-index: 1;
}

.bottom-bar-button-box :first-child {
    z-index: 3;
}

.bottom-bar-button {
    background-color: #477CB3;
    border: none;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1.6rem;
    font-size: 1.7rem;
    text-align: center;
    width: 33%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #B3D8FF;
    border-right: 1px solid #38699C;
    z-index: 2;
    overflow: hidden;
    box-sizing: border-box;
}

.bottom-bar-button:disabled {
    color: #79B1F5;
}

.bottom-bar-button1 {
    width: 100%;
}

.bottom-bar-button2 {
    width: 50%;
}

.bottom-bar-button3 {
    width: 33.3%;
}

/*.help-info-button {
    /!*height: 6rem;*!/
    color: #1F84FB;
    border-color: transparent;
    line-height: 100%;
    background: #fff;
    box-shadow: none;
    width: 100%;
    border-top: 1px solid #E5E5E7;
    text-align: left;
    padding: 1.5rem 1.2rem;
    word-wrap: break-word;
    border-bottom: 1px solid #D9D9DE;
    overflow: hidden;
}*/
.individual-set-tips-button {
    text-align: center;
    margin: -1rem 0 0 0;
    height: 4.5rem;
}

.individual-set-tips-button-hit {
    background: #F1F1F1;
}

.item-button {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    margin: 0 0 -1px 0;
    color: #626262;
    font-size: 1.6rem;
    line-height: 150%;
    border-bottom: 0;
    border-color: transparent;
    background: #fff;
    box-shadow: none;
    width: 100%;
    border-top: 1px solid #E5E5E7;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
}

.padding-when-without-inner-class {
    padding: 1.5rem 1.2rem;
}

.item-button:focus {
    outline: none;
}

.item-button-full {
    padding: 0;
}

.item-value, .item-description {
    display: inline-block;
    color: #666666;
    max-width: 47%;
}

.item-description {
    float: left;
}

.item-value {
    float: right;
}

.item-description-layout-table {
    display: table;
    float: left;
    width: 60%;
    max-width: none;
    position: relative;
    height: 6rem;
    word-break: break-all;
}

.item-description-layout-cell {
    font-style: normal;
    display: table-cell;
    vertical-align: middle;
    padding-left: 1.5rem;
    word-break: break-all;
}

.item-description-single {
    width: 100%;
}

.input-value-set {
    margin: 0;
    color: #808080;
    font-size: 1.6rem
}

.item-value-layout-table {
    display: table;
    float: right;
    width: 35%;
    max-width: none;
    position: relative;
    height: 6rem;
    word-break: break-all;
}

.item-value-layout-cell {
    display: table-cell;
    vertical-align: middle;
}

.item-value-img {
    /*height:auto;*/
    width: 96%;
    display: none;
    margin: 0 auto 10px;
}

.arrow-left {
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
}

.arrow-right {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.arrow-up {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    /*right:1.0rem;*/
}

.arrow-down {
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    /*right:1.0rem;*/
}

.arrow-right, .arrow-up, .arrow-down, .arrow-left {
    width: 1.2rem;
    height: 1.2rem;
    border-right: 2px solid #c7c7cc;
    border-top: 2px solid #c7c7cc;
    float: right;
    position: relative;
    /*top: .2rem;*/
}

.arrow-layout-middle {
    top: 0;
    left: 0;
    float: none;
    margin: 0 auto;
    display: block;
}

.arrow-right-without-text {
    right: 1.6rem;
}

.title-footer-desc-text {
    color: #A0A0A0;
}

.input-tip {
    margin: 0;
    color: #909090;
    font-size: 1.6rem
}

.input-text {
    color: #006DFF;
    font-size: 1.6rem
}

.current-time, .current-mileage, .current-state {
    color: #006DFF;
    padding: 0 .7rem;
}

.auxiliary-mark {
    color: #ADD2FA;
}

.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
}

.list .item {
    height: 5rem;
}

.toggle .handle {
    transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    position: absolute;
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 27px;
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
}

.toggle-default {
    -webkit-transform: translate3d(2.5rem, 0, 0);
    transform: translate3d(2.5rem, 0, 0);
}

.toggle .track {
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: background-color, border;
    display: inline-block;
    width: 7rem;
    height: 3rem;
    border: solid 2px #e6e6e6;
    border-radius: 2rem;
    background-color: #fff;
    box-sizing: content-box;
    content: ' ';
    cursor: pointer;
    pointer-events: none;
}

.toggle input:checked + .track .handle {
    -webkit-transform: translate3d(4rem, 0, 0);
    transform: translate3d(4rem, 0, 0);
    background-color: #fff;
}

/*.toggle input:checked + .track .handle {
    -webkit-transform: translate3d(2.5rem, 0, 0);
    transform: translate3d(2.5rem, 0, 0);
    background-color: #fff;
}*/

.toggle input {
    display: none;
    margin: 0;
    font-size: 100%;
    font-family: inherit;
    outline-offset: 0;
    outline-style: none;
    outline-width: 0;
    -webkit-font-smoothing: inherit;
    background-image: none;
}

.toggle input[type="checkbox"] {
    margin: 0;
    line-height: normal;
}

.toggle .handle:before {
    position: absolute;
    top: -4px;
    left: -21.5px;
    padding: 18px 34px;
    content: " ";
}

.toggle.toggle-calm input:checked + .track {
    border-color: #11c1f3;
    background-color: #11c1f3;
}

.toggle {
    /*position: absolute;*/
    display: inline-block;
    pointer-events: auto;
    /*z-index:999;*/
    /*bottom:7rem;*/
    /*left:12rem;*/
    /*margin: -5px;*/
    /*padding: 5px;*/
}

.item-toggle .toggle {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 3;
}

.toggle-switch-status-desc {
    /*position: relative;*/
    /*top: -1rem;*/
    /*font-size: 1.6rem;*/
    /*color:#a6a6a6;*/
    /*font-weight: bold;*/
    font-size: 1.6rem;
    display: block;
    float: left;
    padding: 0.5rem;
    color: #ccc;
}

.toggle.toggle-positive input:checked + .track {
    border-color: #387ef5;
    background-color: #387ef5;
}

.toggle-switch-right-side {
    left: 1rem;
}

.toggle-switch-left-side {
    left: -1rem;
}

.item-select {
    width: 100%;
    height: 100%;
    position: relative;
}

.item-select label {
    height: inherit;
    width: inherit;
    position: relative;
    display: inline-block;
}

.item-select select {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 2rem 0 0;
    /*max-width: 75%;*/
    border: none;
    background: none;
    color: #333;
    text-indent: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.6rem;
    cursor: pointer;
    line-height: 1.5;
    text-transform: none;
    margin: 0;
    outline-offset: 0;
    outline-style: none;
    outline-width: 0;
    -webkit-font-smoothing: inherit;
    direction: rtl;

}

.item-select option {
    direction: ltr;
}

.item-select label:after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 0.5rem solid;
    border-right: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
}

.item-input-type-text {
    border-bottom-width: 1px;
    border-style: none none solid;
    border-bottom-color: rgb(183, 183, 183);
    text-align: center;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    background: none;
}

.handle-list-item-for-switch li {
    border-top: 1px #ECF3F7 solid;
    border-bottom: none;
}

.item-notice {
    font-size: 1.3rem;
    color: #8d8d8d;
}

.sprite {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('../images/arrow.png');
}

.arrow-left-normal {
    width: 67px;
    height: 83px;
    background-position: -0px -0px;
    float: left;
}

.arrow-left-press {
    width: 67px;
    height: 83px;
    background-position: -67px -0px;
    float: left;
}

.arrow-right-normal {
    width: 67px;
    height: 83px;
    background-position: -134px -0px;
    float: right;
}

.arrow-right-press {
    width: 67px;
    height: 83px;
    background-position: -201px -0px;
    float: right;
}

.animation {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.animation-top {
    transition: top 0.3s ease;
    -webkit-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
}

.load-refresh {
    animation: .75s rotate 0s normal none infinite;
    -webkit-animation: .75s rotate 0s normal none infinite;
    background: url(/images/refresh2.png) no-repeat left top;
}

.menu-hint-pev {
    position: relative;
}

.menu-hint-pev i.menu-hint {
    DISPLAY: block;
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 0;
    height: 0;
    /* background: #000; */
    border-right: 10px solid #cdcdcd;
    border-left: 0;
    border-top: 10px solid transparent;
    border-bottom: 0;
}

.event-disable {
    pointer-events: none;
}

.button-disable-state{
    color: #939393;
    background: #cdcdcd;
    border-top:1px solid #b0b0b0
}

.button-disable {
    color: #5A627C;
    background: #454169;
}

.message-desc-header {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #edeff3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #edeff3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #edeff3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#edeff3', GradientType=0); /* IE6-9 */
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    /*min-height: 6rem;*/
    height: 6rem;
    color: #6D8196;
    z-index: 2;
    position: relative;
    overflow: auto;
}

.message-desc-footer {
    border-top: 0;
    height: 4rem;
    border-bottom: 1px solid #E5E5E7;
    margin: 0;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.extend-font-size {
    font-size: 1.8rem; /**老板嗜好大字体，用于车型选择页面，系统选择页面，车辆配置页面*/
}

.disable-text {
    color: #999 !important;
}

.warn-tip {
    position: absolute;
    top: 0;
    left: 0;
    background: #f18a59;
    color: #fff;
    padding: 1.6rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    z-index: 999;
    opacity: 1;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 5px rgba(33, 33, 33, 0.3);
}

.subordination-text {
    color: #ccc !important;
}

.light-text {
    color: #027dff !important;
}
.unlight-text {
    color: #02000e !important;
}
.dark-state {
    background: #02000e !important;
}
.href-text {
    color: #007DFF !important;
}

.warn-text {
    color: #FF3834 !important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.paging-button {
    position: fixed;
    z-index: 990;
    background-image: none;
    width: 100%;
    top: 45%;
    padding: 0 1rem;
    box-sizing: border-box;
    display: none;
}

.arrow-back-cover {
    display: table;
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    z-index: 102;
}

.arrow-back-cover-left {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */

    left: -10%;
}

.arrow-back-cover-right {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */

    right: -10%;
}

.help-pop-close-button {
    border-radius: 3px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: .7;
    z-index: 998;
    width: 2rem;
    box-sizing: border-box;
    padding: 0.3rem
}

.help-pop-content {
    z-index: 101;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    position: relative;
    overflow: hidden;
    padding: 1.6rem;
}

.help-pop-layout-slave {
    z-index: 998;
    height: inherit;
    width: inherit;
}

.help-pop-layout {
    height: inherit;
    width: inherit;
    position: relative;
}

.help-pop-frame {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
}

.help-pop-content-box {
    position: relative;
    background: #333333;
    width: 80%;
    height: 50%;
    z-index: 997;
    margin: 0 auto;
}

.help-pop-content-background {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 996;
    background: rgba(0, 0, 0, .2);
}

.help-pop-close-img {
    position: relative;
    margin: 1.0rem auto;
    display: block;
    width: 5.0rem;
}

.help-pop-desc {
    display: block;
    position: absolute;
    bottom: 0;
    padding: 1rem 1.6rem;
    left: 0;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    box-sizing: border-box;
    letter-spacing: 0.05rem;
}

.help-pop-content > img {
    /*display:block;position: absolute;top:0;left:0;*/
    width: inherit;
}

.bottomButton {
    width: 100%;
}

/*底部集成按钮专用*/
.bottom-bar-button-special {
    padding: 0;
}

.triangle-icon-basic {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: -2rem;
    right: -2rem;
}

.triangle-icon {
    width: 2rem;
    height: 2rem;
    border: none;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.triangle-icon:after {
    width: 2rem;
    height: 2rem;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: -1rem;
    top: -1rem;
    content: " ";
    box-shadow: 0 1px 3px rgba(83, 83, 83, 0.3);
}

.extend-icon-basic {
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: -2rem;
    right: -2rem;
}

.extend-icon {
    width: 2rem;
    height: 2rem;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.extend-icon:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00a7ff;
    top: 1rem;
    left: 1rem;
    transform: rotate(45deg);
    box-shadow: -1px 0px 1px rgba(102, 114, 178, 0.5);
}

.extend-icon:before {
    content: '';
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border: 1px solid #92b8ff;
    transform: rotate(45deg);
}

.frosted-glass {
    /*width: 287px;*/
    /*height: 285px;*/
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
}

.friend-frame {
    display: none;
    width: 40%;
    height: 30%;
    outline: 1px solid #949494;
    border-right: 1px solid rgba(250, 250, 250, 0.7);
    border-bottom: 1px solid rgba(250, 250, 250, 0.7);
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 9999;
    background: rgba(250, 250, 250, 0.7);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
}

.friend-list-header {
    height: 3rem;
    line-height: 200%;
    text-align: center;
    background: #008eff;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    display: block;
    box-shadow: 0 3px 3px rgba(110, 110, 110, 0.5);
}

.friend-list {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 3rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
}

.user-name-frame {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10000;
}

.head-bar-left {
    outline: none;
    width: 15%;
    height: 100%;
    float: left;
    border: none;
    background: none;
    display: none
}

.head-bar-right {
    display: none;
    width: 15%;
    height: 100%;
    float: right;
    position: relative;
}

.head-bar-right-button {
    background: none;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    width: 3.6rem;
    display: block;
    height: 3.6rem;
    border: 1px solid #1A3755;
    outline:none;
    border-radius: 4px;
    border-bottom: 1px solid #1d2f42;
}

.head-bar-right-button > i {
    width: inherit;
    height: inherit;
    top: 0;
    position: absolute;
    left: 0;
    background: url(../images/friend_list.png) center center no-repeat;
    background-size: 70%;
    border: none;
    border-top: 1px solid #52657a;
    border-bottom: 1px solid #1A3755;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
}

.head-bar-title {
    width: 70%;
    height: 100%;
    float: left;
    border: none;
    background: none;
    font-size: 2rem;
    position: relative;
    left: 15%;
    box-sizing: border-box;
}

.head-bar-left-inner {
    margin: 0 auto;
    width: 4rem;
    max-width: 90%;
    display: block;
    height: 70%;
    border: 1px solid #1A3755;
    border-radius: 4px;
    border-bottom: 1px solid #2C4A6B;
}

.head-bar-left-text {
    border: none;
    border-top: 1px solid #52657a;
    border-bottom: 1px solid #1A3755;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 100%;
}

.body-loading {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
}

.body-loading-layer {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 998
}

.body-loading-icon-box {
    display: table;
    border-radius: 5px;
    background: rgba(0, 0, 0, .6);
    width: 52%;
    height: 22%;
    z-index: 997;
    margin: 0 auto
}

.body-loading-icon-layout {
    z-index: 101;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    padding: 1.6rem;
    position: relative;
}

.loading-img-spin {
    position: relative;
    margin: 1.0rem auto;
    display: block;
    width: 5.0rem;
}

.body-loading-cove {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 996;
    background: rgba(0, 0, 0, .2);
}

.tip-pop{
    border-radius: 100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    line-height: 150%;
    font-size: 12px;
    text-align: center;
    background: #f72828;
    border: 0;
    color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    position: absolute;
    top: -6px;
    right: -6px;
    display: none;

}