
body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}
.page {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#dateScroll div {
    float: left;
}



#dateShadow {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:100;
    top: 0;
    left: 0;
    background: #000;
    filter: alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

#datePage {
    position: absolute;
    top: 0;
    margin:0 auto;
    width: 80%;;
    height: 0;
    background: #FFFFFF;
    max-height: 80%;
    z-index: 200;
    box-shadow: 2px 2px 5px #333;
    overflow: hidden;
}

#dateTitle {
    width: 100%;
    height: 5rem;
    background: #477CB3;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    display:table;
    position:relative;
    z-index:11;
    box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
#dateTitle h1 {
    vertical-align:middle;
    display:table-cell;
}
#middleMark {
    width: 100%;
    height: 0;
    border-top: 1px solid #459AFF;
    border-bottom: 1px solid #459AFF;
    /*background: rgba(100,100,100,0.2);*/
    position: absolute;
    top: 50%;
    z-index:1;
}
#topMark {
    width: 100%;
    height: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    position: absolute;
    top: 0;
    z-index:3;
}
#bottomMark {
    width: 100%;
    height: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0;
    z-index:3;
}
#dateScroll {
    width: 90%;
    margin: 0 auto;
    height: auto;
    line-height: 300%;
    position: relative;
    text-align: center;
    z-index:10;
}

#setCancel{
    width: 100%;
    background-color: #477CB3;
    z-index: 16;
    overflow: hidden;
    display: block;
    text-align: center;
    margin:0;
    height:5rem;
    position: absolute;
    bottom: 0;
    font-size: 1.8rem;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.6);
}

#dateConfirm, #dateCancel{
    display: block;
    background-color: #477CB3;
    color: #fff;
    height: 100%;
    line-height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    text-align: center;
    width: 50%;
    border:none;
}

#dateConfirm {

}

#dateCancel {
    border-left: 1px solid #38699C;
}
#wrapper6 {
    left: 2%;
}

#wrapper5 {
    left: 18%;
}

#wrapper4 {
    left: 34%;
}

#wrapper3 {
    left: 50%;
}

#wrapper2 {
    left: 66%;
}

#wrapper1 {
    left: 82%;
}

#wrapper6 ul, #wrapper5 ul, #wrapper4 ul, #wrapper3 ul, #wrapper2 ul, #wrapper1 ul,#yearWrapper ul, #monthWrapper ul, #dayWrapper ul {
    width: 100%;
}

#wrapper6 >ul li, #wrapper5 >ul li, #wrapper4 >ul li, #wrapper3 >ul li, #wrapper2 >ul li, #wrapper1 >ul li,#yearWrapper >ul li, #monthWrapper >ul li, #dayWrapper >ul li {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    color: #4593F3;
    width: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

#yearWrapper {
    left: 0;
}

#monthWrapper {
    left: 33%;
}

#dayWrapper {
    left: 66%;
}

#wrapper6, #wrapper5, #wrapper4, #wrapper3, #wrapper2, #wrapper1, #yearWrapper, #monthWrapper, #dayWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 16%;
    z-index: 2;
}
#yearWrapper, #monthWrapper, #dayWrapper{
    width:33%;
}




